@model IdeoInterview.ViewModels.FormViewModel

<style>
    h1 {
        margin: 0 0 20px;
        font-weight: 400;
        color: #1c87c9;
        text-align: center;
    }

    .formHolder {
        text-align: center;
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5;
        background: #f5f5f5;
        border-style: solid;
        position: relative;
        outline: none;
    }
</style>

<div class="row" style="padding-top: 20px">
    <div id="jstree"></div>
</div>

<div class="main-block">
    <form class="formHolder">
        <h2>Tytuł:</h2>
        <h1 id="formTitle"></h1>
        <h2>Pytanie:</h2>
        <h1 id="formQuestion"></h1>
        <h2>Odpowiedź:</h2>
        <h1 id="formAnswer"></h1>
    </form>
</div>

<script>
    $(function () {
        var data = {
            'url': '/Home/Nodes',
            'data': function (node) {
                return { 'id': node.id }
                debugger;
            }
        }

        $("#jstree").jstree({
            "core": {
                "check_callback": true,
                "data": data
            }, "types": {
                "default": {
                    "valid_children": ["default", "file"]
                },
                "file": {
                    "icon": "glyphicon glyphicon-file",
                    "valid_children": []
                }
            },
            "plugins": [
                "state", "types",
                "wholerow"
            ]
        });

        $('#jstree').on("select_node.jstree", function (e, data) {
            if (data.node.type == "file") {
                $.ajax({
                    type: "POST",
                    url: "/Home/GetForm",
                    data: { "formId": data.node.id },
                })
                    .success(function (model) {
                        if (model.Title != null) {
                            $("#formTitle").text(model.Title);
                        }
                        if (model.Question != null) {
                            $("#formQuestion").text(model.Question);
                        } else { $("#formQuestion").text("Brak pytania"); }
                        if (model.Answer != null) {
                            $("#formAnswer").text(model.Answer);
                        } else { $("#formAnswer").text("Brak odpowiedzi"); }
                    });
            }
        });
    });

</script>