<div class="row" style="padding-top: 50px">
    <div id="jstree"></div>
</div>
<div style="padding-top: 55px">
    <button class="btn btn-primary" id="btnCreateFolder">Stwórz nowy folder</button>
    <input id="inputFolderName" placeholder="Nazwa nowego folderu">
</div>
<div>
    <button class="btn btn-primary" id="btnCreateForm">Stwórz nowy formularz</button>
    <input id="inputFormName" placeholder="Nazwa nowego formularzu">
</div>
<div>
    <button class="btn btn-danger" id="delateNode">Usuń</button>
</div>

<script>


    $(function () {

        $("#jstree").jstree("#jstree").bind("move_node.jstree", function (e, data) {
            $.ajax({
                type: "GET",
                url: "/Home/MoveNode",
                data: { "id": data.node.id, "parentId": data.parent },
            })
        })

        var data = {
            'url': '/Home/Nodes',
            'data': function (node) {
                return { 'id': node.id };
            }
        }
        $("#jstree").jstree({
            "core": {
                "check_callback": true,
                "data": data
            }, "types": {
                "default": {
                    "valid_children": ["default", "file"]
                },
                "file": {
                    "icon": "glyphicon glyphicon-file",
                    "valid_children": []
                }
            },
            "plugins": [
                "contextmenu", "dnd", "search",
                "state", "types", "wholerow"
            ]
        });

        var idsToRemove = [];

        function sendDeleteRequest() {
            idsToRemove.forEach((id) => $("#jstree").jstree().delete_node(id));
            $.ajax({
                type: "POST",
                url: "/Home/DeleteNode",
                data: { "ids": idsToRemove },
            });

            idsToRemove = [];
            return;
        }

        function recursivelyRemoveChildren(jsTree, childId) {
            var node = jsTree.get_node(childId);

            if (node.children.length) {
                node.children.forEach((grandChildId) => recursivelyRemoveChildren(jsTree, grandChildId));
            }

            idsToRemove.push(childId);
            return console.log(`Dodaje ID ${childId} do usuniecia`);
        }

        $("#delateNode").click(function () {
            var jsTree = $("#jstree").jstree();
            var nodeToDelete = (jsTree.get_selected(true))[0];

            if (!nodeToDelete) {
                return;
            }

            idsToRemove.push(nodeToDelete.id);

            if (!nodeToDelete.children.length) {
                sendDeleteRequest();
                return;
            }

            nodeToDelete.children.forEach((child) => recursivelyRemoveChildren(jsTree, child));

            sendDeleteRequest();
        });

        $('#btnCreateFolder').click(function () {
            var parent = null;
            var temp = $("#jstree").jstree("get_selected")[0];

            var tempLastId = 0
            if (temp) {
                parent = temp;
            }

            $.ajax({
                type: "GET",
                async: true,
                url: "/Home/GetLastNodeId",
                contentType: "application/json",
                context: this,
                success: function (lastId) {
                    tempLastId = lastId;
                    $('#jstree').jstree().create_node(parent, {
                        "id": ++lastId,
                        "text": inputFolderName.value, "type": "default"
                    }, "last")
                    if (lastId == 1) {
                        $("#jstree").jstree().refresh();
                    }
                },
                error: function (error) {
                    console.log(error);
                }                
            })
                .then(() => {
                    var name = $("#inputFolderName").val();
                    $.ajax({
                        type: "POST",
                        url: "/Home/AddFolder",
                        data: { "name": name, "parent": parent, "type": "default" },
                    })
                    if (tempLastId == 0 || tempLastId == 1) {
                        $("#jstree").jstree().refresh();
                    }
                });
        });

        $('#btnCreateForm').click(function () {
            var parent = null;
            var temp = $("#jstree").jstree("get_selected")[0];
             
            var tempLastId = 0;
            if (temp) {
                parent = temp;
            }

            $.ajax({
                type: "GET",
                async: true,
                url: "/Home/GetLastNodeId",
                contentType: "application/json",
                context: this,
                success: function (lastId) {
                    if (lastId == 0 || !temp) {
                    }
                    else {
                        tempLastId = lastId;
                        $('#jstree').jstree().create_node(parent, {
                            "id": ++lastId,
                            "text": inputFormName.value, "type": "file"
                        }, "last")
                    };
                },
                error: function (error) {
                },
            })
                .then(() => {
                    var name = $("#inputFormName").val();
                    if (tempLastId != 1) {
                        $.ajax({
                            type: "POST",
                            url: "/Home/AddForm",
                            data: { "name": name, "parent": parent, "type": "file" },
                        })
                    }
                });
        });
    });

</script>