<div class="row" style="padding-top: 50px" >
    <div id="jstree"></div>
    <button id="btnCreate">create node</button>
</div>

<input id="inputName" />

<script>
    $(function () {

        var data = {
            'url': '/Home/Nodes',
            'data': function (node) {
                return { 'id': node.id };
            }
        }

        $("#jstree").jstree({
            "core": {
                "check_callback": true,
                "data": data
            }
        });

        

        $('#btnCreate').click(function () {
            var parent = null;
            var temp = $("#jstree").jstree("get_selected")[0];

            if (temp) {
                parent = temp;
            }

            $.ajax({
                type: "GET",
                async: true,
                url: "/Home/GetLastNodeId",
                contentType: "application/json",
                context: this,
                success: function (lastId) {
                    $('#jstree').jstree().create_node(parent, {
                        "id": ++lastId,
                        "text": inputName.value
                    }, "last")
                },
                error: function (error) {
                    console.log(error);
                }
            });
            var name = $("#inputName").val();            
            $.ajax({
                type: "POST",
                url: "/Home/AddNode",
                data: { "name": name, "parent" : parent},
            })
        });
    });

</script>